server {
    listen       ${NGINX_PORT};
    listen  [::]:${NGINX_PORT};
    server_name  localhost;

    location / {
        sub_filter          ${NGINX_PROXY} ${NGINX_FILTER};
        sub_filter_types    ${NGINX_FILTER_TYPES};
        sub_filter_once     off;

        proxy_pass          https://${NGINX_PROXY};
        proxy_set_header    Accept-Encoding "";
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}
